{% extends 'base/base.html' %}

{% block contenido%}
<div class="row">
    <div class="col">
        <a type="button" class="btn btn-success" href="{% url 'productos:admin_nuevo_producto' %}">nuevo producto</a>
    </div>
</div>
<div class="card">
    <div class="card-header">
        lista de productos
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">producto</th>
                    <th scope="col">precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for p in productos %}
                    <tr>
                        <th scope="row">{{p.id}}</th>
                        <td>{{p.nombre}}</td>
                        <td>${{p.precio}}</td>
                        <td>
                            <a href="{% url 'productos:editar' p.id %}" class="btn btn-warning">editar</a>
                            <button type="button" class="btn btn-danger">eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'includes/paginado.html' %}
    </div>
</div>


{% endblock contenido%}